nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  background-color: #4022c4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #f4f0ee;
  padding: 3px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #ca109f;

}

.content {
  margin-top: 50px; /* Adjust for nav height */
}